1)What are data structures, and why are they important?

-> Data structures are ways to organize and store data in a computer so that it can be accessed and modified efficiently. They are important because they help manage large amounts of data efficiently and support optimal algorithms for tasks like searching, sorting, and indexing.

 2)Explain the difference between mutable and immutable data types with examples.

 ->  Mutable: Can be changed after creation. Example: list, dict, set.
 l = [1, 2, 3]
l.append(4)  # Now l is [1, 2, 3, 4]
   
   Immutable: Cannot be changed after creation. Example: int, float, str, tuple.
   s = "hello"
s[0] = "H"  # Error: strings are immutable

3)What are the main differences between lists and tuples in Python?

-> Feature  	List	   Tuple
Mutability	 Mutable	 Immutable
Syntax	      [1, 2]  	(1, 2)
Performance	  Slower   	Faster
Use Case	   General	 Fixed data

4)Describe how dictionaries store data.

->  Dictionaries store data as key-value pairs using a hash table under the hood. Keys are hashed, and the hash determines where the value is stored in memory.

5)Why might you use a set instead of a list in Python?

->1.To automatically remove duplicates

  2.To check for membership faster (O(1) average for sets vs O(n) for lists)

6)What is a string in Python, and how is it different from a list?

->A string is an immutable sequence of characters.
A list is a mutable sequence of items.

7) How do tuples ensure data integrity in Python?

-> Since tuples are immutable, their values cannot be changed, which ensures that the data remains constant throughout the program.

8)What is a hash table, and how does it relate to dictionaries in Python?

->A hash table is a data structure that maps keys to values using a hash function.
Python dictionaries use hash tables to provide fast access to values using keys.

09)Can lists contain different data types in Python?

->Yes. Lists can hold mixed type.

10) Explain why strings are immutable in Python?

->For performance and security

Allows string interning and safe sharing across threads

Avoids bugs from accidental changes

11) What advantages do dictionaries offer over lists for certain tasks3

->Faster lookup by key (O(1))

More meaningful access using keys (like student['name'] instead of index)


12) Describe a scenario where using a tuple would be preferable over a listP

->When you want to return multiple values from a function or use a collection as a dictionary key, since tuples are hashable:
coordinates = (10, 20)  # can be a dictionary key

13) How do sets handle duplicate values in Python?

->Sets automatically remove duplicates:

s = {1, 2, 2, 3}
print(s)  # Output: {1, 2, 3}

14)How does the “in” keyword work differently for lists and dictionaries?

->List: Checks if an element exists → O(n) time

Dictionary: Checks if a key exists → O(1) time


15) Can you modify the elements of a tuple? Explain why or why not?

->No, because tuples are immutable. Once created, their values cannot be changed.


16) What is a nested dictionary, and give an example of its use case?

->A nested dictionary is a dictionary where values are also dictionaries.
Example:students = {
    "John": {"age": 20, "grade": "A"},
    "Anna": {"age": 22, "grade": "B"},
}


17) Describe the time complexity of accessing elements in a dictionary.

->Average case: O(1) — constant time using hash
Worst case: O(n) — if many hash collisions occur

18) In what situations are lists preferred over dictionaries?

->When order matters and elements are indexed

When you don’t need key-value mapping

For sequential data, like a to-do list.


19) Why are dictionaries considered unordered, and how does that affect data retrieval?

->they preserve insertion order, but conceptually, key lookup is by hash, not position, so order doesn't affect retrieval.


20) Explain the difference between a list and a dictionary in terms of data retrieval.

->List: Access by index, e.g., list[0]

Dictionary: Access by key, e.g., dict['name']

Dictionary lookups are typically faster for large datasets.

In [1]:
#1 Write a code to create a string with your name and print it.


name = "Prakash Mishra"


print("My name is:", name)

My name is: Prakash Mishra

In [2]:
#Write a code to find the length of the string "Hello World".


text = "Hello World"

length = len(text)


print("The length of the string is:", length)

The length of the string is: 11

In [3]:
#Write a code to slice the first 3 characters from the string "Python Programming".


text = "Python Programming"

sliced_text = text[:3]

print("First 3 characters:", sliced_text)

First 3 characters: Pyt

In [4]:
#Write a code to convert the string "hello" to uppercase.

text = "hello"

uppercase_text = text.upper()

print("Uppercase:", uppercase_text)

Uppercase: HELLO

In [5]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"

text = "I like apple"
new_text = text.replace("apple", "orange")

print("Updated string:", new_text)

Updated string: I like orange

In [6]:
#Write a code to create a list with numbers 1 to 5 and print it.

numbers = [1, 2, 3, 4, 5]
print("List:", numbers)

List: [1, 2, 3, 4, 5]

In [7]:
#Write a code to append the number 10 to the list [1, 2, 3, 4].

my_list = [1, 2, 3, 4]
my_list.append(10)
print("Updated list:", my_list)

Updated list: [1, 2, 3, 4, 10]

In [8]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print("List after removing 3:", my_list)

List after removing 3: [1, 2, 4, 5]

In [9]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
my_list = ['a', 'b', 'c', 'd']
print("Second element:", my_list[1])

Second element: b

In [10]:
# Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print("Reversed list:", my_list)

Reversed list: [50, 40, 30, 20, 10]

In [11]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.


my_tuple = (100, 200, 300)
print("Tuple:", my_tuple)

Tuple: (100, 200, 300)

In [12]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

my_tuple = ('red', 'green', 'blue', 'yellow')

print("Second-to-last element:", my_tuple[-2])

Second-to-last element: blue

In [13]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).

my_tuple = (10, 20, 5, 15)
min_number = min(my_tuple)
print("Minimum number:", min_number)

Minimum number: 5

In [14]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print("Index of 'cat':", index)

Index of 'cat': 1

In [15]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "cherry")

if "kiwi" in fruits:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

In [16]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print("Set:", my_set)

Set: {'c', 'b', 'a'}

In [17]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print("Set after clearing:", my_set)

Set after clearing: set()

In [18]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
print("Set after removing 4:", my_set)

Set after removing 4: {1, 2, 3}

In [19]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

In [20]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print("Intersection of sets:", intersection_set)

Intersection of sets: {2, 3}

In [21]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict = {
    "name": "John",
    "age": 25,
    "city": "New York"
}
print("Dictionary:", my_dict)

Dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}

In [22]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print("Updated dictionary:", my_dict)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print("Value associated with 'name':", name_value)

Value associated with 'name': Alice

In [24]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print("Dictionary after removing 'age':", my_dict)

Dictionary after removing 'age': {'name': 'Bob', 'city': 'New York'}

In [25]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
    print("Key 'city' exists in the dictionary")
else:
    print("Key 'city' does not exist in the dictionary")

Key 'city' exists in the dictionary

In [27]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2, 'c': 3}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 1, 'b': 2, 'c': 3}

In [28]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted list:", random_numbers)

Sorted list: [23, 30, 41, 54, 91]

In [29]:
#Write a code to create a list with strings and print the element at the third index.

my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at index 3:", my_list[3])

Element at index 3: date

In [30]:
#Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
#Write a code to convert a list of strings into a set.

my_list = ["apple", "banana", "cherry", "apple", "banana"]
my_set = set(my_list)
print("Set:", my_set)

Set: {'cherry', 'banana', 'apple'}